CompileFlags:
  Add: [
    -Wall, -Wextra,
    -Wpedantic,
    -Wunused,
    -Wunused,
    -Wfloat-equal,
    -Wundef,
    -Wshadow,
    -Wpointer-arith,
    -Wcast-align,
    -Wstrict-prototypes,
    -Wstrict-overflow=5,
    -Wwrite-strings,
    -Wcast-qual,
    -Wswitch-default,
    -Wswitch-enum,
    -Wconversion,
    -Wunreachable-code
    --std=gnu17
    ]
  Compiler: clang
